<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952028094521-k86io8amfmdcpp777pe67v3k7ef59ch2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952028094521-k86io8amfmdcpp777pe67v3k7ef59ch2</string>
	<key>API_KEY</key>
	<string>AIzaSyB7zXU1U-SHc0ukUALs6QZ5wDRkr2yXRDE</string>
	<key>GCM_SENDER_ID</key>
	<string>952028094521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.volani.hibernia-ios</string>
	<key>PROJECT_ID</key>
	<string>hiberniavpn</string>
	<key>STORAGE_BUCKET</key>
	<string>hiberniavpn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:952028094521:ios:8e058d3daa96137f652de8</string>
</dict>
</plist>