<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowsDebugInfoAlert</key>
	<string>true</string>
	<key>serviceMessage</key>
	<string></string>
	<key>destinationSelectorCheckmarks</key>
	<string>true</string>
	<key>maxConnectionDurationString</key>
	<string></string>
	<key>destinations</key>
	<string>[{&quot;id&quot;:&quot;lon-1&quot;,&quot;displayedName&quot;:&quot;🇬🇧 London&quot;,&quot;type&quot;:&quot;classic&quot;},{&quot;id&quot;:&quot;sgy-1&quot;,&quot;displayedName&quot;:&quot;🇸🇬 Singapore&quot;,&quot;type&quot;:&quot;classic&quot;},{&quot;id&quot;:&quot;nyc-1&quot;,&quot;displayedName&quot;:&quot;🇺🇸 New York&quot;,&quot;type&quot;:&quot;classic&quot;},{&quot;id&quot;:&quot;mad-d&quot;,&quot;displayedName&quot;:&quot;🇪🇸 Madrid&quot;,&quot;type&quot;:&quot;dedicated&quot;},{&quot;id&quot;:&quot;sao-d&quot;,&quot;displayedName&quot;:&quot;🇧🇷 Sao Paulo&quot;,&quot;type&quot;:&quot;dedicated&quot;},{&quot;id&quot;:&quot;tyo-d&quot;,&quot;displayedName&quot;:&quot;🇺🇸 Dallas&quot;,&quot;type&quot;:&quot;dedicated&quot;}]</string>
	<key>destinationSelectorDisabledForPingError</key>
	<string>false</string>
	<key>presentsExtraSettings</key>
	<string>true</string>
	<key>displaysRedeemKey</key>
	<string>false</string>
</dict>
</plist>
