<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destinationSelectorCheckmarks</key>
	<string>true</string>
	<key>serviceMessage</key>
	<string></string>
	<key>destinations</key>
	<string>[{&quot;id&quot;:&quot;lon-1&quot;,&quot;displayedName&quot;:&quot;🇬🇧 London&quot;},{&quot;id&quot;:&quot;sgy-1&quot;,&quot;displayedName&quot;:&quot;🇸🇬 Singapore&quot;},{&quot;id&quot;:&quot;nyc-1&quot;,&quot;displayedName&quot;:&quot;🇺🇸 New York&quot;},{&quot;id&quot;:&quot;tyo-1&quot;,&quot;displayedName&quot;:&quot;🇯🇵 Tokyo&quot;},{&quot;id&quot;:&quot;syd-1&quot;,&quot;displayedName&quot;:&quot;🇦🇺 Sydney&quot;},{&quot;id&quot;:&quot;dal-1&quot;,&quot;displayedName&quot;:&quot;🇺🇸 Dallas&quot;},{&quot;id&quot;:&quot;fra-1&quot;,&quot;displayedName&quot;:&quot;🇩🇪 Frankfurt&quot;},{&quot;id&quot;:&quot;mum-1&quot;,&quot;displayedName&quot;:&quot;🇮🇳 Mumbai&quot;}]</string>
</dict>
</plist>
